nav{
    margin: 0 20px 0 10px;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #EDFDFD;
    min-width: 100vh;
}


#room-list li{
    border: 1px solid white;
    background-color: #0D7777;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#room-list .current-room{
    background-color: #072c2c;
}

#room-list li a {
    text-decoration: none;
    color: white;
}

.room{
    transition: all 1s;
}

.room:not(:target) { 
    height: 0;
    transform: scale(0)
}

.room {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

canvas:not(.canvas-visible){
    display: none;
}

.users-box{
    min-width: 15vh;
    height: 80vh;
    padding: 0 15px 0 15px;
    border-style: solid;
    border-color: black;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
}

.users-box ul {
    list-style-type: none;
}

.chat-area{
    flex-grow: 1;
}

.message-box{
    border-radius: 5px;
    background-color: #d6fafa;
    margin-bottom: 10px;
}

.message-box * {
    margin-left: 10px;
}

.message-box p{
    padding-bottom: 10px;
}

.draw-space {
    border: 1px solid black;
}
.room-box {
    overflow: scroll;
    min-height: 80vh;
    max-height: 80vh;
    border: 1px solid black;
    flex-grow: 1;
    background-color: white;
}

.chat-area button {
    margin: 5px 5px 5px 5px;
}

#empty {
    flex-grow: 1;
}

.send-box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
}

.canvas-button{
    align-self: flex-end;
}

.map-div {
    width: 400px;
    height: 400px;
}


@media screen and (max-width: 600px){
    body{
        flex-direction: column;
    }

    #room-list li{
        display: inline-flex;
    }
}